.add-catalog {
  display: flex;
  justify-content: center;
  position: relative;
}

.add-catalog__wrapper {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #d9d9d9;
  position: relative;

  @media (min-width: @tablet-width) {
    border: none;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    padding-bottom: 86px;
    padding-left: 110px;
    margin-top: -6px;
  }
}

.add-catalog__card-link {
  @media (min-width: @tablet-width) {
    width: 442px;
  }

  @media (min-width: @desktop-width) {
    width: 325px;
  }
}

.add-catalog__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  width: 248px;
  background-color: #ffffff;
  margin-top: 25px;
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    margin-bottom: 82px;
    margin-left: 0;
    width: 340px;
    padding-left: 37px;
    padding-right: 35px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 82px;
    margin-left: -39px;
    width: 340px;
    padding-left: 39px;
    padding-right: 35px;
  }
}

.add-catalog__title-line {
  position: relative;
}


.add-catal-title-line {
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
    position: absolute;
    width: calc(100% - 390px);
    top: 20px;
    left: 417px;
    border-top: 2px solid @maingreen;
  }
}


.lines-add-catalog {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: @maingreen;
  top: 41px;
  z-index: -1;

  @media (min-width: @tablet-width) {
    top: 22px;
  }

  @media (min-width: @desktop-width) {
    top: 17px;
  }
}

.add-catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @desktop-width) {
    margin-left: 0;
  }
}

.add-catalog__card-title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 13px;
  margin-top: 1px;

  @media (min-width: @tablet-width) {
    margin-left: 38px;
    margin-right: 150px;
    margin-top: 23px;
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
    margin-top: 25px;
    margin-bottom: 26px;
  }
}

.add-catalog__card {
  padding-top: 13px;
  padding-bottom: 17px;
  border-top: 1px solid #d9d9d9;

  @media (min-width: @tablet-width) {
    padding-top: 0;
    border: 1px solid #cdcdcd;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 29px;
  }

  @media (min-width: @desktop-width) {
    width: 895px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 0;
    border: none;
    border-top: 1px solid #d9d9d9;
  }
}


.add-catalog__card:last-child {
  @media (min-width: @desktop-width) {
    border-bottom: 1px solid #d9d9d9;
  }
}

.add-catalog__type {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-family: "ArialMT", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;

  @media (min-width: @tablet-width) {
    width: 230px;
    font-family: "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0;
    justify-content: end;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    width: 325px;
    justify-content: left;
  }
}

.add-catalog__value {
  text-transform: uppercase;
  width: 93px;
  text-align: end;

  @media (min-width: @desktop-width) {
    text-align: start;
    padding-left: 24px;
  }
}

.button-add-catalog {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    width: 632px;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    margin-top: 13px;
  }
}


.add-catalog__indicator {
  @media (min-width: @tablet-width) {
    padding-right: 0;
  }

  @media (min-width: @desktop-width) {
    padding-right: 0;
    width: 245px;
  }
}

.add-catalog-promo {
  display: none;

  @media (min-width: @desktop-width) {
    display: inline;
    margin: 0 auto;
    position: absolute;
    background-image: url("../images/promo-desk.webp"), url("../images/promo-desk.png");
    background-repeat: no-repeat;
    width: 246px;
    height: 289px;
    top: 116px;
    right: 109px;
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background-image: url("../images/promo-desk2x.webp"), url("../images/promo-desk2x.png");
      background-size: 246px auto;
    }
  }
}
