.finding-progamm__add {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
}

.finding-progamm__add-title {
  width: 141px;
  padding: 0 22px;
  margin: 0;
  margin-bottom: 37px;
  margin-right: 23px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 0 40px;
    width: 212px;
    background-color: #ffffff;
  }

  @media (min-width: @desktop-width) {
    padding: 0 40px;
  }
}

.lines-add {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: @maingreen;
  top: 14px;
  z-index: -1;

  @media (min-width: @tablet-width) {
    top: 25px;
  }
}

.control-input[type="radio"] + .control-mark-squ {
  border-radius: 50%;
}


.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 9px;
  left: 5px;
  width: 2px;
  height: 7px;
  background-color: @maingreen;
  content: "";
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 4px;
  left: 11px;
  width: 2px;
  height: 12px;
  background-color: @maingreen;
  content: "";
}

.control-input [type="checkbox"]:checked + .control-mark::before {
  transform: rotate(-45deg);
}

.control-input [type="checkbox"]:checked + .control-mark::after {
  transform: rotate(45deg);
}

.ingredients {
  margin: 0 auto;
  padding: 0;
  border: none;
  width: 200px;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    margin-bottom: 41px;
    padding-left: 40px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
    width: 1220px;
    margin: 0 auto;
  }
}

.finding-progamm__ingredients-list {
  margin: 0;
  padding: 0;
  padding-bottom: 21px;
  min-width: 200px;


  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 104px;
  }
}

.finding-progamm__ingredients-item {
  margin: 0;
  padding: 0;
  padding-bottom: 13px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #000000;
  list-style-type: none;
  width: 280px;

  @media (min-width: @tablet-width) {
    width: 344px;
  }

  @media (min-width: @desktop-width) {
    width: 221px;
  }
}

.note {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  height: 16px;
  justify-content: center;


  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 16px;
    width: 300px;
    text-align: left;
    padding-left: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 20px;
  }
}

.finding-progamm__button {
  margin-bottom: 21px;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-left: 40px;
    margin-right: 32px;
    font-size: 20px;
    line-height: 0px;
    width: 282px;
    height: 52px;

  }

  @media (min-width: @desktop-width) {
    width: 568px;
    height: 52px;
    margin-left: 0;
    margin-right: 50px;
  }
}

.finding-progamm-note {
  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 16px;
    height: 52px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    align-items: center;
    padding: 0 40px;
    padding-bottom: 82px;
    width: 1220px;
  }
}
