.main-catalog {
  padding: 0;
  width: 320px;
  box-sizing: border-box;
}


.product-catalog {
  display: flex;
  justify-content: center;
}

.product-catalog__wrapper {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #d9d9d9;
}

.product-catalog__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin-left: 20px;
  margin-right: 20px;
}

.product-catalog__ist {
  margin: 0;
  padding: 0;
}

.product-catalog__card-nobutton {
  display: flex;
  margin-top: 11px;
  margin-bottom: 13px;
}

.product-catalog__card {
  display: flex;
  justify-content: center;
  width: 320px;
  height: 190px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-top: 1px solid #d9d9d9;
}

.product-catalog__card-center {
  display: flex;
  flex-direction: column;
  width: 280px;
}

.product-catalog__type {
  display: flex;
  justify-content: space-between;
}

.product-catalog__card-more {
  display: flex;
  justify-content: center;
  width: 320px;
  height: 190px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid #d9d9d9;
}


.button-product-catalog {
  margin-bottom: 14px;
}

.product-catalog__card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 112px;
}

.product-catalog__card-text {
  width: 140px;
  height: 112px;
  text-transform: uppercase;
}

.product-catalog__card-title {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  width: 76px;
  margin-bottom: 18px;
}

.product-catalog__card-specifiction {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.product-catalog__card-plus {
  display: flex;
  justify-content: center;
  margin-bottom: 23px;
}

.product-catalog__more {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.product-catalog__more-text {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 21px;
}
