.finding-progamm__contacts {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #d9d9d9;
}

.finding-progamm__contacts-form {
  display: flex;
}

.finding-progamm__contacts-block {
  display: flex;
  position: relative;
}

.finding-progamm__contacts-title {
  width: 187px;
  margin: 0;
  margin-top: 27px;
  margin-bottom: 37px;
  margin-right: 14px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
}

.contacts-title-line {
  position: absolute;
  width: calc(100% - 181px);
  top: 44px;
  left: 201px;
  border-top: 2px solid #68b738;
}

.finding-progamm__anketa-block {
  display: flex;
}

.contacts-form {
  display: flex;
  align-items: center;
  margin-right: 13px;
  height: 45px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}


.contacts-email {
  width: 25%;
}

.contacts-phone {
  width: 30%;
}

.finding-progamm__email {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-left: 15px;
  height: 44px;
  margin-bottom: 13px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  box-sizing: border-box;
  border: 1px solid #e7e7e7;
}

.finding-progamm__phone {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-left: 15px;
  height: 44px;
  margin-bottom: 13px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  box-sizing: border-box;
  border: 1px solid #e7e7e7;
}

.finding-progamm__form-contacts-email {
  position: relative;
  width: 100%;
}

.finding-progamm__form-contacts-phone {
  position: relative;
  width: 100%;
}

.icon-email {
  padding: 0;
  display: flex;
  position: absolute;
  top: 16px;
  right: 15px;
  align-items: center;
  border: none;
  box-sizing: border-box;
}

.icon-phone {
  padding: 0;
  display: flex;
  position: absolute;
  top: 13px;
  right: 13px;
  align-items: center;
  border: none;
  box-sizing: border-box;
}
