.cooperation__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 26px;
  padding-bottom: 26px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    padding-top: 52px;
    padding-bottom: 52px;
    padding-left: 40px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.cooperation__container-invitation {
  width: 138px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: 200px;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: @desktop-width) {
    width: 163px;
    padding-left: 80px;
    padding-top: 60px;
    padding-right: 87px;

  }
}

.cooperation__container-adress {
  font-family: "ArialMT", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    margin-right: 0;
    padding-right: 40px;
    width: 160px;
    font-size: 16px;
    line-height: 20px;
    text-align: end;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    width: 155px;
    padding-top: 56px;
    padding-right: 87px;
    text-align: start;
  }
}

.cooperation-form {
  @media (min-width: @tablet-width) {
    background-color: #f2f2f2;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }

}

