.example {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.example__container {
  display: flex;
  flex-wrap: wrap;
  background-color: #eaeaea;

  @media (min-width: @tablet-width) {
    background-color: transparent;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    flex-direction: column;
    padding-bottom: 66px;
  }
}

.example__container-title {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 69px;
    margin-bottom: 146px;
  }
}

.example__container-text {
  margin: 0;
  margin-bottom: 20px;
  font-family: "ArialMT", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    width: 437px;
    margin-bottom: 46px;
  }
}

.indicators {
  width: 280px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  @media (min-width: @tablet-width) {
    width: 366px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.indicators__item {
  display: flex;
  justify-content: center;
  vertical-align: top;
  flex-direction: column;
  width: 124px;
  height: 56px;
  background-image: url("../images/weight-back.png");

  @media (min-width: @tablet-width) {
    width: 162px;
    height: 77px;
    background-image: url("../images/weight-back-tab.png");
  }
}

.indicators__value {
  display: flex;
  justify-content: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  padding-top: 28px;
  padding-bottom: 8px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.indicators__text {
  display: flex;
  justify-content: center;
  font-family: "ArialMT", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
}

.example-price {
  width: 100%;
  display: flex;
  margin: 0;
  margin-bottom: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  justify-content: center;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: 180px;
    font-size: 20px;
    line-height: 20px;
    align-items: center;
    text-align: end;
    margin: 0 auto;
    margin-right: 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    padding-top: 55px;
    width: 436px;
    justify-content: left;
  }
}

.example-range-desk {
  @media (min-width: @desktop-width) {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.range-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.range-scale {
  display: flex;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 40px;
  justify-content: space-between;
  padding-left: 62px;
  padding-right: 62px;

  @media (min-width: @tablet-width) {
    margin-top: 25px;
  }

  @media (min-width: @desktop-width) {
    width: 568px;
  }
}

.describe-indicators {
  @media (min-width: @tablet-width) {
    display: flex;
    width: 709px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;

  }
}

.example__img-fat {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.example__img-skinny {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.example__img {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.example__images {
  display: flex;
  justify-content: center;
  width: 708px;
  padding-top: 80px;

  @media (min-width: @desktop-width) {
    padding-top: 0;
    padding-right: 30px;
  }
}

.back-grey {
  @media (min-width: @tablet-width) {
    left: 0;
    width: 120%;
    height: 436px;
    background-color: #eaeaea;
    position: absolute;
    z-index: -2;
    top: 565px;
  }

  @media (min-width: @desktop-width) {
    top: 182px;
    width: 120%;
    height: 462px;

  }

}
