.page-footer {
  display: flex;
  justify-content: center;
}

.page-footer__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f2f2f2;
}

.page-footer__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 132px;
  height: 63px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #e6e6e6;
}

.footer-logo {
  display: flex;
  height: 95px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
}

.footer-htmlacademy {
  display: flex;
  justify-content: center;
  width: 280px;
  align-items: center;
  height: 78px;
}

.footer-htmlacademy__link {
  display: flex;
  justify-content: space-between;
  width: 280px;
}

.footer-htmlacademy__text {
  display: flex;
  align-items: center;
  margin-right: auto;
  font-family: "ArialMT", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

