.main-header {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1;

  @media (min-width: @desktop-width) {
    padding-top: 53px;
  }

}

@media (min-width: @tablet-width) {
  .main-header__toggle {
    display: none;
  }

  .main-header__logo {
    padding-right: 12px;
  }
}

@media (min-width: @desktop-width) {
  .main-header__toggle {
    display: none;
  }

  .main-header__logo {
    padding-right: 12px;
  }
}



.main-header__menu {
  display: flex;
  width: 280px;
  height: 38px;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 15px;
  font-family: "Oswald", sans-serif;
  justify-content: space-between;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  padding-inline-start: 0;


  @media (min-width: @tablet-width) {
    width: 174px;
    padding-right: 94px;
  }


}

.main-header__logo:hover {
  opacity: 0.8;
}

.main-header__logo:focus {
  opacity: 0.6;
}

.main-header__catenergy-logo:hover {
  opacity: 0.8;
}

.main-header__catenergy-logo:focus {
  opacity: 0.6;
}

.main-header__logo-tablet {
  display: none;
}

@media (min-width: @tablet-width) {
  .main-header__logo-image {
    display: none;
  }

  .catenergy-logo {
    display: none;
  }

  .main-header__logo-tablet {
    display: flex;
  }
}

