.methods {
  padding-bottom: 32px;
}

.methods__container {
  display: flex;
  flex-wrap: wrap;
}

.methods__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.methods__item {
  display: flex;
  padding-bottom: 20px;

  @media (min-width: @tablet-width) {
    width: 230px;
    height: 280px;
    display: flex;
    flex-direction: column;
  }
}

.methods__item:nth-child(odd) {
  @media (min-width: @tablet-width) {
    margin-right: 153px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 0;
  }
}

.methods__item:nth-child(1) {
  @media (min-width: @tablet-width) {
    background-image: url("../images/1.png");
    background-repeat: no-repeat;
    background-position: right center;
    width: 230px;
    margin-right: 153px;
  }

  @media (min-width: @desktop-width) {
    background-image: url("../images/1.png");
    background-repeat: no-repeat;
    background-position: right center;
    width: 230px;
    margin-right: 94px;
  }
}

.methods__item:nth-child(2) {
  @media (min-width: @tablet-width) {
    background-image: url("../images/2.png");
    background-repeat: no-repeat;
    background-position: right center;
    width: 246px;
    margin-right: 79px;
  }

  @media (min-width: @desktop-width) {
    background-image: url("../images/2.png");
    background-repeat: no-repeat;
    background-position: right center;
    width: 246px;
    margin-right: 109px;
  }
}

.methods__item:nth-child(3) {
  @media (min-width: @tablet-width) {
    background-image: url("../images/3.png");
    background-repeat: no-repeat;
    background-position: right center;
    width: 248px;
    margin-right: 137px;
  }

  @media (min-width: @desktop-width) {
    background-image: url("../images/3.png");
    background-repeat: no-repeat;
    background-position: right center;
    width: 248px;
    margin-right: 77px;
  }
}

.methods__item:nth-child(4) {
  @media (min-width: @tablet-width) {
    background-image: url("../images/4.png");
    background-repeat: no-repeat;
    background-position: right center;
    width: 250px;
  }

  @media (min-width: @desktop-width) {
    background-image: url("../images/4.png");
    background-repeat: no-repeat;
    background-position: right center;
    width: 250px;
  }
}

.methods__item-icon {
  display: flex;
  align-items: center;
  margin-right: 20px;

  @media (min-width: @tablet-width) {
    padding-top: 40px;
  }
}

.methods__text {
  margin: 0;
  padding: 0;
  font-family: "ArialMT", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: @tablet-width) {
    padding-top: 31px;
    font-size: 16px;
    line-height: 24px;
  }
}

.methods__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding-top: 45px;
    padding-bottom: 32px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    width: 465px;
    padding-top: 51px;
  }
}

.methods__item-icon-leaf {
  @media (min-width: @tablet-width) {
    width: 80px;
    height: 80px;
  }
}

.methods__item-icon-water {
  @media (min-width: @tablet-width) {
    width: 80px;
    height: 80px;
  }
}

.methods__item-icon-knife {
  @media (min-width: @tablet-width) {
    width: 80px;
    height: 80px;
  }
}

.methods__item-icon-watch {
  @media (min-width: @tablet-width) {
    width: 80px;
    height: 80px;
  }
}
