.promo {
  display: flex;
  justify-content: center;
  border-top: 1px solid #d9d9d9;
  padding-top: 35px;
  padding-bottom: 35px;

  @media (min-width: @tablet-width) {
    border: none;
    padding-top: 67px;
    padding-bottom: 76px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }

}

.promo__wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 0;
  color: #ffffff;
  width: 280px;
  height: 290px;
  background-image: url("../images/cat-bag.png");

  @media (min-width: @tablet-width) {
    background-image: url("../images/cat-bag-tab.png");
    width: 708px;
    height: 100%;
    border: none;
  }
}

.promo__transparent-bag {
  width: 280px;
  height: 290px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: @maingreen;
  opacity: 0.85;

  @media (min-width: @tablet-width) {
    width: 100%;
    height: 100%;
  }

  @media (min-width: @desktop-width) {
    z-index: -1;
  }
}

.promo__icon {
  display: flex;
  justify-content: center;
  z-index: 1;
  padding-top: 15px;

  @media (min-width: @desktop-width) {
    z-index: 3;
  }
}

.promo__text {
  display: flex;
  justify-content: center;
  z-index: 1;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  text-align: center;
  padding-top: 48px;

  @media (min-width: @desktop-width) {
    color: #ffffff;
}
}
