.targets__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.targets-card {
  height: 266px;
  display: flex;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  margin-bottom: 20px;
}

.icon-cat-slim {
  margin: 21px 19px 21px 22px;
}

.targets-card__title {
  display: flex;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  align-items: center;
}

.targets-card__text {
  margin: 0;
  margin-left: 20px;
  margin-right: 33px;
  margin-bottom: 23px;
  font-family: "ArialMT", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.icon-cat-pro {
  margin: 24px 13px 22px 13px;
}

.targets-card__button {
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
}

.targets-card__button-slim {
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 18px;
  border-top: 1px solid #d9d9d9;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.targets-card__button-pro {
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 18px;
  border-top: 1px solid #d9d9d9;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}
