.page__body {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  position: relative;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
}

html {
  height: 100%;
}

.page-footer {
  width: 100%;
}
