.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  outline: none;
  cursor: pointer;
  text-decoration: none;
}


@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width-only: 767px;

@maingreen: #68b738;


